<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= "#{@client} Statistics" %>  </title>
  </head>
  <body>
    <h1><%= "#{@client} Statistics" %></h1>

      <%= "Average Response Time Across All Requests: #{@client.avg_response_time}"  %><br>

      <%= "Maximum Response Time Across All Requests: #{@client.max_response_time}"  %><br>

      <%= "Minimum Response Time Across All Requests: #{@client.min_response_time}"  %><br>

      <%= "Most Frequent Request Type: #{@client.clients_most_frequent_request_types}"  %><br>

      <h3>All HTTP Verbs Used:<h3>
      <table class="table table-striped table-bordered table-hover col-md-12">
        <tr>
          <th class="text-center">Request Types</th>
        </tr>
        <% @client.all_request_types.each do |verb| %>
          <tr class="text-center client">
            <td><%= verb %></td>
          </tr>
        <% end %>
      </table>

      <h3>List of Urls From Most Requested to Least:<h3>
      <table class="table table-striped table-bordered table-hover col-md-12">
        <tr>
          <th class="text-center">Urls</th>
        </tr>
        <% @client.sort_clients_most_requested_urls.each do |verb| %>
          <tr class="text-center client">
            <td><%= verb %></td>
          </tr>
        <% end %>
      </table>

      <%= "Web Browser Breakdown Across All Requests: #{@client.clients_browser_breakdown}"  %><br>

      <%= "OS Breakdown Across All Requests: #{@client.clients_operating_system_breakdown}"  %><br>

      <%= "Screen Resolutions Across All Requests: #{@client.list_clients_resolutions}"  %><br>
  </body>
</html>
