<center><div class="Jumbotron"><h1><%= @client.identifier.capitalize %> Statistics</h1></div></center>
  <h3>Average Response Time Across All Requests:</h3>
  <p class="avg"><%= @client.avg_response_time %></p>
  <h3>Maximum Response Time Across All Requests:</h3>
  <p class="max_time"><%= @client.max_response_time %></p>
  <h3>Minimum Response Time Across All Requests:</h3>
  <p class="min_time"><%=@client.min_response_time %></p>
  <h3>Most Frequent Request Type:</h3>
  <p class="max_request"><%=@client.clients_most_frequent_request_types %></p>
  <h3>All HTTP Verbs Used:</h3>
  <div class="requests">
    <% @client.all_request_types.each do |verb| %>
    <p><%= verb %></p>
    <% end %>
  </div>
  <h3>List of Urls From Most Requested to Least:</h3>
  <div class="urls">
    <% @client.sort_clients_most_requested_urls.each do |url| %>
    <p><%= url %></p>
    <% end %>
  </div>
  <h3>Web Browser Breakdown Across All Requests:</h3>
  <div class="browsers">
    <% @client.clients_browser_breakdown.each do |browser| %>
    <p><%= browser %></p>
    <% end %>
  </div>
  <h3>OS Breakdown Across All Requests:</h3>
  <div class="os">
    <% @client.clients_operating_system_breakdown.each do |os| %>
    <p><%= os %></p>
    <% end %>
  </div>
  <h3>Screen Resolutions Across All Requests:</h3>
  <div class="res">
    <% @client.list_clients_resolutions.each do |res| %>
    <p><%= res %></p>
    <% end %>

  <h3>Client's Associated Url Specific Statistics:</h3>
  <div class="urls">
    <% @client.urls.each do |url| %>
    <%= link_to("#{:identifier}/urls/#{:relative_path}", "#{client.relative_path}") %> <br>
    <p><%= res %></p>
    <% end %>
  </div>
