<center><div class="Jumbotron">
  <h1> Statistics for <%= @url.url %> </h1>
</div></center>

  <h3>Maximum Response Time For Url:</h3>
  <p class="max_time"><%= @url.max_response_time %></p>

  <h3>Minimum Response Time For Url:</h3>
  <p class="min_time"><%= @url.min_response_time %></p>

  <h3>Average Response Time For Url:</h3>
  <p class="avg_time"><%= @url.avg_response_time %></p>

  <h3>Resonse Times Across All Requests, Longest to Shortest:</h3>
  <div class="ordered_responce_times">
    <p><%= @url.sort_response_times.join(", ") %></p>
  </div>

  <h3>All HTTP Verbs Used:</h3>
  <div class="requests">
    <% @url.all_request_types.each do |verb| %>
    <p><%= verb %></p>
    <% end %>
  </div>

  <h3>Top 3 Referrers:</h3>
  <div class="referrers">
    <% @url.top_referrers.each do |ref| %>
    <p><%= ref %></p>
    <% end %>
  </div>

  <h3>Top 3 User Agents:</h3>
  <div class="referrers">
    <% @url.top_user_agents.each do |ua| %>
    <p><%= ua %></p>
    <% end %>
  </div>
