<center><div class="Jumbotron">
  <h1><%= @client.identifier.capitalize %> Statistics for <%= @client.url %> </h1>
</div></center>

  <h3>Maximum Response Time For Url:</h3>
  <p class="max_time"><%= @client.url.max_response_time %></p>

  <h3>Minimum Response Time For Url:</h3>
  <p class="min_time"><%=@client.url.min_response_time %></p>

  <h3>Resonse Times Across All Requests, Longest to Shortest:</h3>
  <div class="ordered_responce_times">
    <%=@client.url.sort_response_times.each do |time| %>
    <p><%= time %></p>
    <% end %>
  </div>

  <h3>All HTTP Verbs Used:</h3>
  <div class="requests">
    <% @client.url.all_request_types.each do |verb| %>
    <p><%= verb %></p>
    <% end %>
  </div>

  <h3>Top 3 Referrers:</h3>
  <div class="referrers">
    <p><%= @client.top_referrers[0] %></p>
    <p><%= @client.top_referrers[1] %></p>
    <p><%= @client.top_referrers[2] %></p>
  </div>

  <h3>Top 3 User Agents:</h3>
  <div class="referrers">
    <p><%= @client.top_user_agents[0] %></p>
    <p><%= @client.top_user_agents[1] %></p>
    <p><%= @client.top_user_agents[2] %></p>
  </div>
